<a href="https://colab.research.google.com/github/vilsonrodrigues/COVID19/blob/master/Fraterno20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libs

In [0]:
import urllib3
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

Base de dados do Brasil IO, informando dados por município

In [74]:
data_brasil = pd.read_csv('https://data.brasil.io/dataset/covid19/caso.csv.gz', compression='gzip', header=0, quotechar='"', error_bad_lines=False)
data_brasil.rename(columns={"city_ibge_code":"codigo_ibge"},inplace = True)
data_brasil.head(2)

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-03-27    RR  ...                        1.98098        NaN
1  2020-03-26    RR  ...                        1.65082        NaN

[2 rows x 12 columns]

CSV com dados de longitude e latitude dos municípios brasileiros

In [75]:
city_lat_long =  pd.read_csv("https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/municipios.csv")
city_lat_long.drop(columns = ["capital"], inplace = True)
city_lat_long.rename(columns = {"nome":"city"},inplace = True)
city_lat_long.head(2)

   codigo_ibge                 city  latitude  longitude  codigo_uf
0      5200050      Abadia de Goiás  -16.7573   -49.4412         52
1      3100104  Abadia dos Dourados  -18.4831   -47.3916         31