<a href="https://colab.research.google.com/github/vilsonrodrigues/COVID19/blob/master/Fraterno20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libs

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Base de dados do Brasil IO, informando dados por município

In [2]:
data_brasil = pd.read_csv('https://data.brasil.io/dataset/covid19/caso.csv.gz', compression='gzip', header=0, quotechar='"', error_bad_lines=False)
data_brasil.rename(columns={"city_ibge_code":"codigo_ibge"},inplace = True)
data_brasil.head(2)

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-03-27    RR  ...                        1.98098        NaN
1  2020-03-26    RR  ...                        1.65082        NaN

[2 rows x 12 columns]

CSV com dados de longitude e latitude dos municípios brasileiros

In [3]:
city_lat_long =  pd.read_csv("https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/municipios.csv")
city_lat_long.drop(columns = ["capital"], inplace = True)
city_lat_long.rename(columns = {"nome":"city"},inplace = True)
city_lat_long.head(2)

   codigo_ibge                 city  latitude  longitude  codigo_uf
0      5200050      Abadia de Goiás  -16.7573   -49.4412         52
1      3100104  Abadia dos Dourados  -18.4831   -47.3916         31

Merge de tabelas de caso e localização geográfica

In [0]:
data_brasil = data_brasil.merge(city_lat_long, on = ["city","codigo_ibge"],sort = "date")

In [5]:
data_brasil.head(2)

         date state        city  ... latitude  longitude  codigo_uf
0  2020-03-28    BA  Alagoinhas  ... -12.1335   -38.4208         29
1  2020-03-27    BA  Alagoinhas  ... -12.1335   -38.4208         29

[2 rows x 15 columns]

Retirando NaN's

In [6]:
data_brasil.replace(np.nan, 0, inplace = True)
data_brasil.head(2)

         date state        city  ... latitude  longitude  codigo_uf
0  2020-03-28    BA  Alagoinhas  ... -12.1335   -38.4208         29
1  2020-03-27    BA  Alagoinhas  ... -12.1335   -38.4208         29

[2 rows x 15 columns]

CSV de leitos por Municípios

In [20]:
leitos = pd.read_csv("https://raw.githubusercontent.com/vilsonrodrigues/COVID19/master/leitos_por_cidade.csv", sep = ";", encoding = "iso-8859-1")
leitos.rename(columns = {"municipio":"city"}, inplace = True)
leitos.head(2)

                             city quantidade
0    110001 Alta Floresta D'Oeste         49
1  110037 Alto Alegre dos Parecis         16

Usando Split para retirar o código do município

In [21]:
new = leitos["city"].str.split(" ", n = 1, expand = True)
leitos["city"] = new[1]
#leitos["codigo_ibge"] = new[0] não é
#leitos["codigo_ibge"] = leitos["codigo_ibge"].astype("int64")
leitos.head(2)

                      city quantidade
0    Alta Floresta D'Oeste         49
1  Alto Alegre dos Parecis         16

Merge pelo nome da cidade, apesar de fazer isso deve causar conflito por causa do nome

In [0]:
'''
leitos = leitos.merge(city_lat_long, on = "city", sort = "city")
leitos.head(2)
'''

**Dados Tratados**

In [22]:
data_brasil.head(2)

         date state        city  ... latitude  longitude  codigo_uf
0  2020-03-28    BA  Alagoinhas  ... -12.1335   -38.4208         29
1  2020-03-27    BA  Alagoinhas  ... -12.1335   -38.4208         29

[2 rows x 15 columns]

In [23]:
leitos.head(2)

                      city quantidade
0    Alta Floresta D'Oeste         49
1  Alto Alegre dos Parecis         16

In [24]:
data_brasil.columns

Index(['date', 'state', 'city', 'place_type', 'confirmed', 'deaths',
       'order_for_place', 'is_last', 'estimated_population_2019',
       'codigo_ibge', 'confirmed_per_100k_inhabitants', 'death_rate',
       'latitude', 'longitude', 'codigo_uf'],
      dtype='object')